

{% extends 'contactos/contact/base.html' %}

{% load i18n %}

{% block filename %}
  /home/usuario2012/djangoApps/appContactoMapa/contactos/templates/contactos/contact/contact_form.html
{% endblock %}

{% block title %}
  {% if object %}
    {% trans "Update Contact" %}
  {% else %}
    {% trans "Create a New Contact" %}
  {% endif %}
{% endblock %}

{% block header-link %}
  {% if object %}
    <a href='{% url contactos_contact_update pk=object.pk %}'>
      {% trans "Contact Update" %}
    </a>
  {% else %}
    <a href='{% url contactos_contact_create %}'>
      {% trans "Contact Create" %}
    </a>
  {% endif %}
{% endblock %}

{% block header-description %}
  {% if object %}
    {% trans "A view that displays a form for editing an existing object." %}
  {% else %}
    {% trans "A view that displays a form for creating an object." %}
  {% endif %}
{% endblock %}

{% block content %}
  <form action='{% if object %}{% url contactos_contact_update pk=object.pk %}{% else %}{% url contactos_contact_create %}{% endif %}' method='post' encoding='utf-8'>
    <fieldset>
      {% csrf_token %}
      {{ form }}
      <div class='form-actions'>
        <button class='btn btn-large btn-success' type='submit'>
          {% if object %}
            {% trans "Update" %}
          {% else %}
            {% trans "Create" %}
          {% endif %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
