

{% extends 'contactos/contact/base.html' %}

{% load i18n %}

{% block filename %}
  /home/usuario2012/djangoApps/appContactoMapa/contactos/templates/contactos/contact/contact_confirm_delete.html
{% endblock %}

{% block title %}
  {% trans "Contact Confirm Delete" %}
{% endblock %}

{% block header-link %}
  <a href='{% url contactos_contact_delete pk=object.pk %}'>
    {% trans "Contact Confirm Delete" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A view that displays a confirmation page (on GET) and deletes an existing object (on POST)." %}
{% endblock %}

{% block content %}
  <h2>
    {% trans "Delete this Contact?" %}
  </h2>
  <br />
  {% include 'contactos/contact/object_table_detail.html' %}
  <form action='' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
