

{% extends 'contactos/contact/base.html' %}

{% load i18n %}

{% block filename %}
  /home/usuario2012/djangoApps/appContactoMapa/contactos/templates/contactos/contact/contact_list.html
{% endblock %}

{% block header-link %}
  <a href='{% url contactos_contact_list %}'>
    {% trans "Contact List" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A page representing a list of objects." %}
{% endblock %}

{% block content %}
  <h2>
    {% trans "Contacts" %}
  </h2>
  {% include 'contactos/contact/object_table_list.html' %}
  {% include 'contactos/contact/pagination.html' %}
{% endblock %}
