

{% load i18n %}

<p>
  {% trans "Click on the primary key value to access the individual Friend's page." %}
</p>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>
        id
      </th>
      
        <th>
          name
        </th>
      
        <th>
          lastname
        </th>
      
        <th>
          age
        </th>
      
        <th>
          company
        </th>
      
        <th>
          phone
        </th>
      
        <th>
          email
        </th>
      
        <th>
          address
        </th>
      
        <th>
          latitude
        </th>
      
        <th>
          longitude
        </th>
      
        <th>
          userowner
        </th>
      
        <th>
          created_at
        </th>
      
        <th>
          updated_at
        </th>
      
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href='{{ object.get_absolute_url }}'>
            {{ object.id|stringformat:".3d" }}
          </a>
        </td>
        
          <td>{{ object.name }}</td>
        
          <td>{{ object.lastname }}</td>
        
          <td>{{ object.age }}</td>
        
          <td>{{ object.company }}</td>
        
          <td>{{ object.phone }}</td>
        
          <td>{{ object.email }}</td>
        
          <td>{{ object.address }}</td>
        
          <td>{{ object.latitude }}</td>
        
          <td>{{ object.longitude }}</td>
        
          <td>{{ object.userowner }}</td>
        
          <td>{{ object.created_at }}</td>
        
          <td>{{ object.updated_at }}</td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>
